# Zero to Snowflake - Vignette 2: ãƒ‡ãƒ¼ã‚¿ã‚·ã‚§ã‚¢ãƒªãƒ³ã‚°
ã“ã®ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯ã§ã¯ã€ä»¥ä¸‹ã®å†…å®¹ã‚’å­¦ç¿’ã—ã¾ã™:
1. Snowflake Marketplaceã‹ã‚‰ã®æ°—è±¡ãƒ‡ãƒ¼ã‚¿å–å¾—
2. ã‚¢ã‚«ã‚¦ãƒ³ãƒˆãƒ‡ãƒ¼ã‚¿ã¨æ°—è±¡ã‚½ãƒ¼ã‚¹ãƒ‡ãƒ¼ã‚¿ã®çµ±åˆ
3. Safegraph POIãƒ‡ãƒ¼ã‚¿ã®æ¢ç´¢

In [ ]:
-- ã‚»ãƒƒã‚·ãƒ§ãƒ³ã‚¯ã‚¨ãƒªã‚¿ã‚°ã‚’è¨­å®š
ALTER SESSION SET query_tag = '{"origin":"sf_sit-is","name":"tb_101_v2","version":{"major":1, "minor":1},"attributes":{"is_quickstart":0, "source":"tastybytes", "vignette": "apps_and_collaboration"}}';

-- ãƒ¯ãƒ¼ã‚¯ã‚·ãƒ¼ãƒˆã‚³ãƒ³ãƒ†ã‚­ã‚¹ãƒˆã‚’è¨­å®š
USE DATABASE tb_101;
USE ROLE accountadmin;
USE WAREHOUSE tb_de_wh;

## 1. Snowflake Marketplaceã‹ã‚‰ã®æ°—è±¡ãƒ‡ãƒ¼ã‚¿å–å¾—

**Weather Sourceãƒ‡ãƒ¼ã‚¿ã‚’å–å¾—ã™ã‚‹æ‰‹é †:**
1. accountadminãƒ­ãƒ¼ãƒ«ã‚’ä½¿ç”¨
2. ãƒŠãƒ“ã‚²ãƒ¼ã‚·ãƒ§ãƒ³ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã‹ã‚‰ã€Œãƒ‡ãƒ¼ã‚¿è£½å“ã€ãƒšãƒ¼ã‚¸ã«ç§»å‹•
3. æ¤œç´¢ãƒãƒ¼ã«ã€ŒWeather Source frostbyteã€ã¨å…¥åŠ›
4. ã€ŒWeather Source LLC: frostbyteã€ãƒªã‚¹ãƒˆã‚’é¸æŠã—ã€ã€Œå–å¾—ã€ã‚’ã‚¯ãƒªãƒƒã‚¯
5. ãƒ‡ãƒ¼ã‚¿ãƒ™ãƒ¼ã‚¹åã‚’ã€ŒZTS_WEATHERSOURCEã€ã«å¤‰æ›´
6. ã€ŒPUBLICã€ã«ã‚¢ã‚¯ã‚»ã‚¹ã‚’è¨±å¯
7. ã€Œå®Œäº†ã€ã‚’æŠ¼ã™

In [ ]:
-- ã‚¢ãƒŠãƒªã‚¹ãƒˆãƒ­ãƒ¼ãƒ«ã«åˆ‡ã‚Šæ›¿ãˆ
USE ROLE tb_analyst;

## 2. ã‚¢ã‚«ã‚¦ãƒ³ãƒˆãƒ‡ãƒ¼ã‚¿ã¨æ°—è±¡ã‚½ãƒ¼ã‚¹ãƒ‡ãƒ¼ã‚¿ã®çµ±åˆ

In [ ]:
-- æ°—è±¡ãƒ‡ãƒ¼ã‚¿ã‚·ã‚§ã‚¢ã‹ã‚‰éƒ½å¸‚ã®ãƒªã‚¹ãƒˆã¨æ°—è±¡æŒ‡æ¨™ã‚’å–å¾—
SELECT 
    DISTINCT city_name,
    AVG(max_wind_speed_100m_mph) AS avg_wind_speed_mph,
    AVG(avg_temperature_air_2m_f) AS avg_temp_f,
    AVG(tot_precipitation_in) AS avg_precipitation_in,
    MAX(tot_snowfall_in) AS max_snowfall_in
FROM zts_weathersource.onpoint_id.history_day
WHERE country = 'US'
GROUP BY city_name;

In [ ]:
-- ç”Ÿã®å›½ãƒ‡ãƒ¼ã‚¿ã‚’Weather Sourceãƒ‡ãƒ¼ã‚¿ã¨çµåˆã™ã‚‹ãƒ“ãƒ¥ãƒ¼ã‚’ä½œæˆ
CREATE OR REPLACE VIEW harmonized.daily_weather_v
COMMENT = 'TastyBytesã‚µãƒãƒ¼ãƒˆéƒ½å¸‚ã«ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°ã•ã‚ŒãŸWeather Sourceæ—¥æ¬¡å±¥æ­´'
    AS
SELECT
    hd.*,
    TO_VARCHAR(hd.date_valid_std, 'YYYY-MM') AS yyyy_mm,
    pc.city_name AS city,
    c.country AS country_desc
FROM zts_weathersource.onpoint_id.history_day hd
JOIN zts_weathersource.onpoint_id.postal_codes pc
    ON pc.postal_code = hd.postal_code
    AND pc.country = hd.country
JOIN raw_pos.country c
    ON c.iso_country = hd.country
    AND c.city = hd.city_name;

In [ ]:
-- 2022å¹´2æœˆã®ãƒãƒ³ãƒ–ãƒ«ã‚¯ã®å¹³å‡æ—¥æ¬¡æ°—æ¸©ã‚’å–å¾—
SELECT
    dw.country_desc,
    dw.city_name,
    dw.date_valid_std,
    AVG(dw.avg_temperature_air_2m_f) AS average_temp_f
FROM harmonized.daily_weather_v dw
WHERE dw.country_desc = 'Germany'
    AND dw.city_name = 'Hamburg'
    AND YEAR(date_valid_std) = 2022
    AND MONTH(date_valid_std) = 2
GROUP BY dw.country_desc, dw.city_name, dw.date_valid_std
ORDER BY dw.date_valid_std DESC;

In [ ]:
-- æ°—è±¡ã«ã‚ˆã‚‹æ—¥æ¬¡å£²ä¸Šãƒ“ãƒ¥ãƒ¼ã‚’ä½œæˆ
CREATE OR REPLACE VIEW analytics.daily_sales_by_weather_v
COMMENT = 'æ—¥æ¬¡æ°—è±¡æŒ‡æ¨™ã¨æ³¨æ–‡ãƒ‡ãƒ¼ã‚¿'
AS
WITH daily_orders_aggregated AS (
    SELECT
        DATE(o.order_ts) AS order_date,
        o.primary_city,
        o.country,
        o.menu_item_name,
        SUM(o.price) AS total_sales
    FROM
        harmonized.orders_v o
    GROUP BY ALL
)
SELECT
    dw.date_valid_std AS date,
    dw.city_name,
    dw.country_desc,
    ZEROIFNULL(doa.total_sales) AS daily_sales,
    doa.menu_item_name,
    ROUND(dw.avg_temperature_air_2m_f, 2) AS avg_temp_fahrenheit,
    ROUND(dw.tot_precipitation_in, 2) AS avg_precipitation_inches,
    ROUND(dw.tot_snowdepth_in, 2) AS avg_snowdepth_inches,
    dw.max_wind_speed_100m_mph AS max_wind_speed_mph
FROM
    harmonized.daily_weather_v dw
LEFT JOIN
    daily_orders_aggregated doa
    ON dw.date_valid_std = doa.order_date
    AND dw.city_name = doa.primary_city
    AND dw.country_desc = doa.country
ORDER BY 
    date ASC;

In [ ]:
-- ã‚·ã‚¢ãƒˆãƒ«ã§ã®å¤§é›¨ãŒå£²ä¸Šã«ã©ã®ã‚ˆã†ã«å½±éŸ¿ã™ã‚‹ã‹ã‚’åˆ†æ
SELECT * EXCLUDE (city_name, country_desc, avg_snowdepth_inches, max_wind_speed_mph)
FROM analytics.daily_sales_by_weather_v
WHERE 
    country_desc = 'United States'
    AND city_name = 'Seattle'
    AND avg_precipitation_inches >= 1.0
ORDER BY date ASC;

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# å‰ã®ã‚»ãƒ«ã®çµæœã‚’DataFrameã¨ã—ã¦å–å¾—
seattle_rain_df = _.to_pandas()

# æ—¥ä»˜ã§ã‚°ãƒ«ãƒ¼ãƒ—åŒ–ã—ã¦é›†è¨ˆ
daily_summary = seattle_rain_df.groupby('DATE').agg({
    'DAILY_SALES': 'sum',
    'AVG_PRECIPITATION_INCHES': 'first',
    'AVG_TEMP_FAHRENHEIT': 'first'
}).reset_index()

# ãƒ•ã‚£ã‚®ãƒ¥ã‚¢ä½œæˆï¼ˆ2è¡Œ1åˆ—ï¼‰
fig, axes = plt.subplots(2, 1, figsize=(12, 8))
fig.suptitle('ğŸŒ§ï¸ ã‚·ã‚¢ãƒˆãƒ«ã®å¤§é›¨ï¼ˆ1ã‚¤ãƒ³ãƒä»¥ä¸Šï¼‰ãŒå£²ä¸Šã«ä¸ãˆã‚‹å½±éŸ¿', fontsize=14, fontweight='bold')

# ä¸Šæ®µï¼šæ™‚ç³»åˆ—ã‚°ãƒ©ãƒ•ï¼ˆå£²ä¸Šã¨é™æ°´é‡ï¼‰
ax1 = axes[0]
ax1_twin = ax1.twinx()

# æ£’ã‚°ãƒ©ãƒ•ï¼ˆå£²ä¸Šï¼‰
bars = ax1.bar(range(len(daily_summary)), daily_summary['DAILY_SALES'], 
               color='#3498db', alpha=0.7, label='æ—¥æ¬¡å£²ä¸Š ($)')

# æŠ˜ã‚Œç·šã‚°ãƒ©ãƒ•ï¼ˆé™æ°´é‡ï¼‰
line = ax1_twin.plot(range(len(daily_summary)), daily_summary['AVG_PRECIPITATION_INCHES'], 
                     color='#e74c3c', marker='o', linewidth=2, markersize=6, label='é™æ°´é‡ (ã‚¤ãƒ³ãƒ)')

ax1.set_xlabel('æ—¥ä»˜')
ax1.set_ylabel('å£²ä¸Š ($)', color='#3498db')
ax1_twin.set_ylabel('é™æ°´é‡ (ã‚¤ãƒ³ãƒ)', color='#e74c3c')
ax1.set_title('ğŸŒ§ï¸ ã‚·ã‚¢ãƒˆãƒ«ï¼šå¤§é›¨ã®æ—¥ã®å£²ä¸Šæ¨ç§»')

# Xè»¸ãƒ©ãƒ™ãƒ«è¨­å®š
ax1.set_xticks(range(len(daily_summary)))
ax1.set_xticklabels([str(d)[:10] for d in daily_summary['DATE']], rotation=45, ha='right', fontsize=8)

# å‡¡ä¾‹
lines1, labels1 = ax1.get_legend_handles_labels()
lines2, labels2 = ax1_twin.get_legend_handles_labels()
ax1.legend(lines1 + lines2, labels1 + labels2, loc='upper right')

# ä¸‹æ®µï¼šæ•£å¸ƒå›³ï¼ˆé™æ°´é‡ vs å£²ä¸Šï¼‰
ax2 = axes[1]
scatter = ax2.scatter(seattle_rain_df['AVG_PRECIPITATION_INCHES'], 
                      seattle_rain_df['DAILY_SALES'],
                      c=seattle_rain_df['AVG_TEMP_FAHRENHEIT'], 
                      cmap='RdYlBu_r', 
                      s=80, alpha=0.7, edgecolors='white', linewidth=0.5)

ax2.set_xlabel('é™æ°´é‡ (ã‚¤ãƒ³ãƒ)')
ax2.set_ylabel('å£²ä¸Š ($)')
ax2.set_title('ğŸ“Š é™æ°´é‡ã¨å£²ä¸Šã®é–¢ä¿‚')

# ã‚«ãƒ©ãƒ¼ãƒãƒ¼
cbar = plt.colorbar(scatter, ax=ax2)
cbar.set_label('æ°—æ¸© (Â°F)')

plt.tight_layout()
plt.show()

# ã‚µãƒãƒªãƒ¼çµ±è¨ˆã‚’è¡¨ç¤º
print("\nğŸ“ˆ ã‚µãƒãƒªãƒ¼çµ±è¨ˆ:")
print(f"  â€¢ å¤§é›¨ã®æ—¥æ•°: {len(daily_summary)} æ—¥")
print(f"  â€¢ å¹³å‡å£²ä¸Š: ${daily_summary['DAILY_SALES'].mean():,.2f}")
print(f"  â€¢ æœ€å¤§å£²ä¸Š: ${daily_summary['DAILY_SALES'].max():,.2f}")
print(f"  â€¢ å¹³å‡é™æ°´é‡: {daily_summary['AVG_PRECIPITATION_INCHES'].mean():.2f} ã‚¤ãƒ³ãƒ")

## ãƒªã‚»ãƒƒãƒˆ(å¿…è¦ã«å¿œã˜ã¦å®Ÿè¡Œ)

In [ ]:
USE ROLE accountadmin;

-- ãƒ“ãƒ¥ãƒ¼ã®å‰Šé™¤
DROP VIEW IF EXISTS harmonized.daily_weather_v;
DROP VIEW IF EXISTS analytics.daily_sales_by_weather_v;
DROP VIEW IF EXISTS harmonized.tastybytes_poi_v;

-- ã‚¯ã‚¨ãƒªã‚¿ã‚°ã®è§£é™¤
ALTER SESSION UNSET query_tag;
-- ã‚¦ã‚§ã‚¢ãƒã‚¦ã‚¹ã®ä¸€æ™‚åœæ­¢
ALTER WAREHOUSE tb_de_wh SUSPEND;